snippet pubf "public method"
	public function ${1}(${2}): $3
	{
		${0}
	}

snippet prof "protected method"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet prif "private method"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet testt "test method (prefix)"
	public function test_${1}()
	{
		${0}
	}

snippet testa "test method (annotation)"
	/** @test */
	public function ${1}()
	{
		${0}
	}
